extends ./base

block content
  main.main
    h1 This
    p display previous entries somehow
    p get the date to be automatically today 
    br
    
    h1 House
    p acc clear garden
    p paint
    br
    
    h2 done
    p Plants to robert's green bin
