extends ../base

block content
  main.main
    div.side.ma-tp-md
      a.side__el(href='/body/log/food') Log food
      a.side__el(href='/body/log/exercise') Log exercise
      a.side__el(href='/body/log/measurement') Log measurement