extends ../base

block content
  main.main
    form.form-container
      div
        label Date
        input.form-input(type="date" id='date' required)
      div
        label Exercise
        input.form-input(type="number" id='exercise' required)
      div
        label Weight
        input.form-input(type="number" id='weight')
      div
        label Reps
        input.form-input(type="number" id='reps')
      div
        label Sets
        input.form-input(type="number" id='sets')
      div
        input.form-submit(type="submit" id='exercise')
    div
      p deadlift - 1
      p squat - 2
      p bench - 3
      p pullup - 4
      p shoulderpress - 5
      p dip - 6
      p pressup - 7
      p bicep curl - 8
      p reverse row dumbbell thing - 9
      p narrow pressup - 10
      