extends ../base

block content
  main.main
    form.form-container
      div
        label Date
        input.form-input(type="date" id='date' required)
      div
        label Weight
        input.form-input(type="float" id='weight')
      div
        label Bicep
        input.form-input(type="number" id='bicep')
      div
        label Shoulders
        input.form-input(type="number" id='shoulders')
      div
        label Chest
        input.form-input(type="number" id='chest')
      div
        label Thigh
        input.form-input(type="number" id='thigh')
      div
        label Calf
        input.form-input(type="number" id='calf')
      div
        label Neck
        input.form-input(type="number" id='neck')
      div
        label Waist
        input.form-input(type="number" id='waist')
      div
        input.form-submit(type="submit" id='measurement')
    div Neck at adam's apple, waist at top of hip bone, left bicep started 1cm smaller
      